<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <hr/>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/author">Author</a></li>
        </ul>
    </nav>
    <footer><a href="https://github.com/gelcorejs/QuizMiriada">Proyecto Quiz en GITHUB</a></footer>
  </body>
</html>
